.product-list {
  margin-left: -10px;
  margin-right: -10px;
}

.product-item.box {
  position: relative;
  text-align: center;
  height: 100%;
  padding-bottom: 8.5rem;
  transition: 200ms ease-out;

  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 15px -5px #5f6062;
  }

  a {
    &,
    &:hover {
      text-decoration: none;
      color: unset;
    }
  }

  .card-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .image-container {
    max-width: 100%;
    height: 0;
    padding-bottom: 75%;
    position: relative;

    img {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: contain;
    }
  }

  .product-availability {
    color: var(--gray);
  }

  h2 {
    font-size: 1rem;
    font-weight: bold;
  }
}

.discount {
  position: absolute;
  left: -.375rem;
  top: 1rem;
  background: rgb(216,124,32);
  background: linear-gradient(90deg, var(--orange) 0%, var(--red) 100%);
  color: var(--white);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  z-index: 1;
  box-shadow: 2px 2px 5px -3px #5f6062;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1.135rem;
    border-color: transparent transparent transparent var(--red);
    transform: translateX(100%);
  }
}

.favorite {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
  font-size: 1.5rem;
}

.current-price {
  color: var(--red);
  font-size: 1.5rem;
  font-weight: bold;
}

.old-price {
  font-size: 0.875rem;
  font-weight: bold;
  position: relative;
  display: inline-block;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    border-bottom: solid 1px var(--black);
  }
}

.stats {
  color: var(--green);

  small {
    margin-left: 0.5rem;
  }

  & > * {
    vertical-align: bottom;
  }
}

.itg-add-to-cart {
  .cart-btn {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
    &:hover {
      background-color: #8bc53d;
      border-color: #8bc53d;
      color: var(--white);
    }
  }

  .cart-icon {
    &,
    &:hover {
      background-color: var(--white);
      border-color: var(--green);
      color: var(--black);
    }
  }
}
